/* Reset default browser styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page background */
body{
    background-color:#f4f6f8;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* App container */
.appcontainer{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 6px 15px rgba(0,0,0,0.15);
    text-align:center;
}

/* Title */
h1{
    margin-bottom:20px;

    color:#2193b0;
    font-weight:700;
    letter-spacing:1px;
}

/* Input field */
#taskInput{
    padding:10px;
    width:250px;
    border-radius:5px;
    border:1px solid #2193b0;
    outline:none;
}
#taskDateTime{
    padding:10px;
    width:250px;
    border-radius:5px;
    border:1px solid #2193b0;
    outline:none;
}


/* Add button */
button{
    padding:10px 15px;
    margin-left:5px;
    border:none;
    border-radius:5px;
    background:#2193b0;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#176d86;
}

#taskContainer{
    margin-top:20px;
}
.task{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    color: #2193b0;
    padding:10px;
    margin:10px 0;
    border-radius:6px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}
/* Drag anchor */
.drag{
    cursor:grab;
    margin-right:10px;
}
/* Task text */
.task span{
    flex:1;
    text-align:left;
}
/* Action buttons */
.task button{
    margin-left:5px;
    padding:5px 8px;
    font-size:14px;
}
/* Completed task style */
.completed{
    text-decoration:line-through;
    color:gray;
}